<div class="eqLogic eqLogic-widget allowResize allowReorderCmd col2" style="border:#border#;border-radius:#border-radius#; background-color: #background-color#; color: #color#;width: #width#;height: #height#; #style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#"
     data-tags="#tags#"><span class="statusCmd"></span><span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#"><i class="fas fa-sync"></i></span><span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
     <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;position: relative;top:-2px;"
 hidden>#object_name#</span></a></strong></center>
<style>
/* Desktop */
    .aqi-#id#-container{
        padding: 0 3px 0 3px;
    }
    .aqi-#id#-row, .header-#id#-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }

    .header-#id#-container {
        margin: 15px 0 15px 0;
        vertical-align: middle;
    }

    .header-#id#-min, .aqi-#id#-particule{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content:center;
    }
    
    #airquality-min#uid#>.carousel-control {
        position: absolute;
        top: 30%;
        z-index: 5;
        display: inline-block;
        margin-top: 0px;
        width: 15px;
    }

    #forecast-#uid#>.carousel-control {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        margin-top: 0px;
        width: 20px;
    }

    .historique-#id#{
        text-align: center;width:100%;
    }

    #airquality-min#uid# {
            margin-top: 35px;
        }

    .aqi-#id#-space {
        margin-top: 5px;
    }

    .aqi-#id#-aqi, .aqi-#id#-value,
    .aqi-#id#-label, .contain-minmax-#id#{
        margin-top: 5px;
    }

    .aqi-#id#-label {
        font-weight:400;
        font-size: 120%;
        text-align: center;
    }

    .hidden{
        display: none;
    }

    .display-aqi {
        font-size: 12px; line-height: 12px;
         /* Uniquement en V4 pour Theme White */
        color: var(--link-color) !important;
    }

    #airquality-min#uid# {
    margin-top: 15px;
}

</style>
<div class="aqi-#id#-container">

    <div class="header-#id#-container">
        <div class="#history# tooltips  header-#id#-min cmd noRefresh" data-type="info" data-subtype="other" data-cmd_id="#uvid#">
            <div title="#info-tooltips#" id="info-modal#uvid#" class="cursor aqi-#id#-image tooltips">#icone_uv#</div>
            <div class="display-aqi aqi-#id#-label-aqi state">#uv_name#</div>
            <div class="display-aqi aqi-#id#-aqi state">#uv#</div>
            <div class="display-aqi aqi-#id#-aqi state">#uv_level#</div>
        </div>
        <div class="#history# tooltips header-#id#-min cmd noRefresh" data-type="info" data-subtype="other" data-cmd_id="#aqiid#">    
        
            <div title="#info-tooltips#" id="info-modal-aqi#id#" class="aqi-#id#-image tooltips cursor">#icone_aqi#</div>
            <div title="#updateAt#" style="font-size: 1.8rem;" class="display-aqi aqi-#id#-aqi state tooltips">#aqi_name# #aqi#</div>
            <div style="font-size: 1.2rem;" class="display-aqi aqi-#id#-space state">#aqiinfo#</div>
        </div>
        <div class="#history# tooltips header-#id#-min cmd noRefresh" data-type="info" data-subtype="other" data-cmd_id="#visibilityid#">
            <div  title="#info-tooltips#" id="info-modal#visibilityid#" class="cursor aqi-#id#-image tooltips">#icone_visibility#</div>
            <div style="margin-top:3px;" class="display-aqi state">#visibility_name#</div>
            <div title="#visibility#  m" class="display-aqi aqi-#id#-aqi state">#visibility#</div>
            <div class="display-aqi aqi-#id#-aqi state">#visibility_level#</div>
        </div>    
    </div>
    <div style="text-align: center;">
        <marquee scrollamount="4" width="85%" class="state" style="font-size: 110%;">#message_alert#</marquee>
    </div>
    

    <div id="airquality-min#uid#" class="carousel slide" data-ride="carousel" data-pause="true" #classCaroussel#>
        <div class="carousel-inner" id="chart#id#">
            #mini_slide#
        </div>
        <a class="left carousel-control my#id#" href="#airquality-min#uid#" data-slide="prev"
            style="background:transparent">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="right carousel-control my#id#" href="#airquality-min#uid#" data-slide="next"
            style="background:transparent">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>
<script>

// Boite Modal Info  todo

    $(document).on ("click", "#info-modal-aqi#id#", function () {
      
        $('#md_modal2').dialog({
        title: "Info AQI"
        });
        $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoAqi&id=#id#&logical_id=#aqiid#').dialog('open');
        });
    
    $(document).on ("click", "#info-modal#uvid#", function () {       
        $('#md_modal2').dialog({
        title: "Info UV"
        });
        $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoUv&id=#id#&logical_id=#uvid#').dialog('open');
        });

    $(document).on ("click", "#info-modal#visibilityid#", function () {
   
        $('#md_modal2').dialog({
        title: "Info Visibilité"
        });
        $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoVisibility&id=#id#&logical_id=#visibilityid#').dialog('open');
        });
    
    $(document).on ("click", ".info-modalpm10#id#", function () {    
        $('#md_modal2').dialog({
        title: "Info Particules Fines"
        });
        $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoPm25&id=pm10#id#').dialog('open');
                });

    $(document).on ("click", ".info-modalo3#id#", function () {
        $('#md_modal2').dialog({
        title: "Info Ozone"
        });
        $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoO3&id=o3#id#').dialog('open');
        });

    $(document).on ("click", ".info-modalnh3#id#", function () {
        $('#md_modal2').dialog({
        title: "Info Ammoniac"
        });
        $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoNh3&id=nh3#id#').dialog('open');
        });
    $(document).on ("click", ".info-modalso2#id#", function () {
        $('#md_modal2').dialog({
        title: "Info Dioxyde de Souffre"
        });
        $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoSo2&id=so2#id#').dialog('open');
        });
    $(document).on ("click", ".info-modalno2#id#", function () {
        $('#md_modal2').dialog({
        title: "Info Dioxyde d'Azote"
        });
        $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoNo2&id=no2#id#').dialog('open');
        });
    $(document).on ("click", ".info-modalno#id#", function () {
        $('#md_modal2').dialog({
        title: "Info Monoxyde d'Azote"
        });
        $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoNo&id=no#id#').dialog('open');
        });
    $(document).on ("click", ".info-modalco#id#", function () {
        $('#md_modal2').dialog({
        title: "Info Monoxyde de carbone"
        });
        $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoCo&id=co#id#').dialog('open');
        });
        
            var  mySlider#id# = $('#airquality-min#uid#').carousel({pause: "true"});
                

    if ('#animation#'== 'active') {
                    var t#uid#;

                    var start#uid# = $('#airquality-min#uid#').find('.active').attr('data-interval');
                    t#uid# = setTimeout("$('#airquality-min#uid#').carousel({interval: 1000});",
                         start#uid# - 1000);
                    $('#airquality-min#uid#').on('slid.bs.carousel', function () {
                         clearTimeout(t#uid#);
                         var duration#uid# = $(this).find('.active').attr('data-interval');
                         $('#airquality-min#uid#').carousel('pause');
                         t#uid# = setTimeout("$('#airquality-min#uid#').carousel();",
                              duration#uid# - 1000);
                    })
                    $('.right.carousel-control.my#id#').on('click', function () {
                         clearTimeout(t#uid#);
                    });
                    $('.left.carousel-control.my#id#').on('click', function () {
                         clearTimeout(t#uid#);
                    });
               }

    $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function () {
            jeedom.cmd.execute({ id: $(this).data('cmd_id') });
        });
</script>
</div>