<div class="cmd_ noRefresh aqi-#id#-particule #history#" data-type="info"
    data-subtype="numeric" data-cmd_id="#cmdid#">
       
   
    <div class="#info-modalcmd#" #list-info#>#icone#</div>
   
    <div class="aqi-#id#-label">#display-name#</div>
  
    <div title="#value# #unity#" class="aqi-#id#-value">#value#</div>

    <div class="contain-minmax-#id# #history# state tooltips" data-cmd_id="#cmdid#" data-eqlogic_id="#id#"
        data-type="info" data-subtype="numeric">
        <div style="font-size: 0.8em;" class="state">
            <span title="Mini" class="tooltips">#minHistoryValue#</span> |
            <span title="Moyenne" class="tooltips">#averageHistoryValue#</span> |
            <span title="Maxi" class="tooltips">#maxHistoryValue#</span>&nbsp;<i style="font-size: 0.75em;"
                title="Tendance" class="#tendance#"></i>
        </div>
    </div>

</div>