<div class="state aqi-#id#-particule #name#">
    <!--  Version DasBoard -->
    <div class="aqi-#id#-row" style="width:100%;">
        <!-- Nom -->
        <div style="width:100%;" class="cmd noRefresh aqi-#id#-label tooltips cursor"
            data-type="info" data-subtype="numeric" data-cmd_id="#cmdid#">#display-name#</div>
        <!-- Icone -->
        <div title="Cliquez pour + d'info" class="#info-modalcmd# tooltips cursor" style="max-width:60px;">#icone#</div>
         <!-- Valeur --> <!-- Historique -->
        <div class="aqi-#id#-particule" style="text-align: center;width:100%;" >
            <div title="#unity#" style="text-align: center;width:100%;" class="aqi-#id#-value">#value# </div>
            <div class="contain-minmax-#id# #history# state tooltips #display#" style="text-align: center;width:100%;" data-cmd_id="#cmdid#"
                data-eqlogic_id="#id#" data-type="info" data-subtype="numeric">
                <div style="font-size: 0.8em;" class="state">
                    <span title="Min" class="tooltips">#minHistoryValue#</span> |
                    <span title="Moyenne" class="tooltips">#averageHistoryValue#</span> |
                    <span title="Max" class="tooltips">#maxHistoryValue#</span>&nbsp;
                    <i style="font-size: 0.75em;" class="#tendance#"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Graphique bas  -->
    <div id="container_#name#_#id#">
    </div>
</div>