
<div class="tooltips header-#id#-mini" >
    <div class="container-#id#-svg " title="#list_grass_pollen#">
        <div>#icone_grass_pollen#</div>
    </div>
    <div class="#history# cursor cmd noRefresh aqi-#id#-label-header tooltips"  data-type="info" data-subtype="other" 
    data-cmd_id="#grass_pollenid#" title="#grass_risk# : #grass_pollen# part/m³">
        <div>#grass_pollen_name#</div>
        <div class="space-aqi-#id#">#grass_pollen#</div>
    </div>
</div>

<div class="tooltips header-#id#-mini"  >
    <div class="container-#id#-svg " title="#list_tree_pollen#">
        <div>#icone_tree_pollen#</div>
    </div>
    <div class="#history# cursor cmd noRefresh aqi-#id#-label-header tooltips" data-type="info" data-subtype="other"
    data-cmd_id="#tree_pollenid#" title="#tree_risk# : #tree_pollen# part/m³">
        <div>#tree_pollen_name#</div>
        <div class="space-aqi-#id#">#tree_pollen#</div>
    </div>
</div>

<div class="tooltips header-#id#-mini" >
    <div class="container-#id#-svg " title="#list_weed_pollen#">
        <div class="tooltips">#icone_weed_pollen#</div>
    </div>
    <div class="#history# cursor cmd noRefresh aqi-#id#-label-header" data-type="info" data-subtype="other"
    data-cmd_id="#weed_pollenid#"  title="#weed_risk# : #weed_pollen# part/m³">
        <div >#weed_pollen_name#</div>
        <div class="space-aqi-#id#">#weed_pollen#</div>
    </div>
</div>