<div class="eqLogic eqLogic-widget allowResize allowReorderCmd col2" style="border:#border#;border-radius:#border-radius#; background-color: #background-color#; color: #color#;width: #width#;height: #height#; #style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#"
     data-tags="#tags#"><span class="statusCmd"></span><span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#"><i class="fas fa-sync"></i></span><span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
     <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;position: relative;top:-2px;"
 hidden>#object_name#</span></a></strong></center>
 <style>
 /* Dashboard */
        .aqi-#id#-container{
            padding: 0 3px 0 3px;
        }

        .aqi-#id#-row {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
        }

        .aqi-#id#-particule {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .aqi-#id#-label {
            font-weight:400;
            font-size: 120%;
            text-align: center;
        }

        .aqi-#id#-space {
            margin-top: 10px;
       }

        #airquality-min#uid#>.carousel-control {
            position: absolute;
            top: 25%;
            z-index: 5;
            display: inline-block;
            margin-top: 0px;
            width: 15px;
        }

        #airquality-min#uid#{
            margin-top: 20px;
        }

        .header-#id#-mini, .aqi-#id#-label-header{
            display: flex;
            vertical-align: middle;
            justify-content:center;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        
        .header-#id#-container{
            margin-top: 15px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            vertical-align: middle;
        }

        .active-pollen-#id#{
            margin-top:20px;
            font-size: 110%;
        }

        .space-aqi-#id#{
              margin-top:5px
        }
      
</style>
<div class="aqi-#id#-container">
    <div class="header-#id#-container">
        <div class="tooltips header-#id#-mini" title="#grass_risk# : #list_grass_pollen#" >
            <div class="container-#id#-svg ">
                <div  class="tooltips">#icone_grass_pollen#</div>
            </div>
            <div class="#history# cursor cmd noRefresh aqi-#id#-label-header"  data-type="info" data-subtype="other" data-cmd_id="#grass_pollenid#">
                <div>#grass_pollen_name#</div>
                <div class="space-aqi-#id#" >#grass_pollen#</div>
            </div>
        </div>
        <div class="tooltips header-#id#-mini" title="#tree_risk# : #list_tree_pollen#" >
            <div class="container-#id#-svg ">
                <div>#icone_tree_pollen#</div>
            </div>
            <div class="#history# cursor cmd noRefresh aqi-#id#-label-header" data-type="info" data-subtype="other"
            data-cmd_id="#tree_pollenid#">
                <div>#tree_pollen_name#</div>
                <div class="space-aqi-#id#">#tree_pollen#</div>
            </div>
        </div>
        <div class="tooltips header-#id#-mini" title="#weed_risk# : #list_weed_pollen#" >
            <div class="container-#id#-svg ">
                <div class="tooltips">#icone_weed_pollen#</div>
            </div>
            <div class="#history# cursor cmd noRefresh aqi-#id#-label-header" data-type="info" data-subtype="other"
            data-cmd_id="#weed_pollenid#">
                <div >#weed_pollen_name#</div>
                <div class="space-aqi-#id#">#weed_pollen#</div>
            </div>
        </div>
    </div>
    <div title="#updatedAt#" class="cmd header-#id#-mini active-pollen-#id# ">
        #active_pollen_label# : #activePollen# / 15
    </div>
    <div id="airquality-min#uid#" class="carousel slide aqi-#id#-space" data-ride="carousel" data-pause="hover"
        #classCaroussel#>
        <div class="carousel-inner slide#id#">#mini_slide#</div>
        <a class="left carousel-control my#id#" href="#airquality-min#uid#" data-slide="prev"
            style="background:transparent">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="right carousel-control my#id#" href="#airquality-min#uid#" data-slide="next"
            style="background:transparent">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>
<script>



    if ('#animation#' == 'active') {
                    var t#uid#;

                    var start#uid# = $('#airquality-min#uid#').find('.active').attr('data-interval');
                    t#uid# = setTimeout("$('#airquality-min#uid#').carousel({interval: 1000});",
                         start#uid# - 1000);

                    $('#airquality-min#uid#').on('slid.bs.carousel', function () {
                         clearTimeout(t#uid#);
                         var duration#uid# = $(this).find('.active').attr('data-interval');

                         $('#airquality-min#uid#').carousel('pause');
                         t#uid# = setTimeout("$('#airquality-min#uid#').carousel();",
                              duration#uid# - 1000);
                    })
                    $('.right.carousel-control.my#id#').on('click', function () {
                         clearTimeout(t#uid#);
                    });
                    $('.left.carousel-control.my#id#').on('click', function () {
                         clearTimeout(t#uid#);
                    });
        }

    $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function () {
            jeedom.cmd.execute({
            id: $(this).data('cmd_id')
                });

        });

     </script>
</div>