<div class="eqLogic eqLogic-widget allowResize allowReorderCmd col2" style="border:#border#;border-radius:#border-radius#; background-color: #background-color#; color: #color#;width: #width#;height: #height#; #style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#"
     data-tags="#tags#"><span class="statusCmd"></span><span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#"><i class="fas fa-sync"></i></span><span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
     <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;position: relative;top:-2px;"
 hidden>#object_name#</span></a></strong></center>
 <style>
 
        .aqi-#id#-row {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
        }

        .aqi-#id#-particule {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .aqi-#id#-label {
            font-weight:400;
            font-size: 120%;
            text-align: center;
        }

        .aqi-#id#-space {
            margin-top: 10px;
       }

        #airquality-min#uid#>.carousel-control {
            position: absolute;
            top: 30%;
            z-index: 5;
            display: inline-block;
            margin-top: 0px;
            width: 15px;
        }

        #airquality-min#uid#{
            margin-top: 20px;
        }

        .header-#id#-mini, .aqi-#id#-label-header{
            display: flex;
            vertical-align: middle;
            justify-content:center;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        
        .header-#id#-container{
            margin-top: 15px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            vertical-align: middle;
        }

        .active-pollen-#id#{
            margin-top:20px;
            font-size: 110%;
        }

        .space-aqi-#id#{
              margin-top:5px
        }
      
</style>
<div class="aqi-#id#-container">
    <div class="header-#id#-container">
        <div class="tooltips header-#id#-mini" title="#grass_risk# : #list_grass_pollen#" >
            <div class="container-#id#-svg ">
                <div  class="tooltips">#icone_grass_pollen#</div>
            </div>
            <div class="#history# cursor cmd noRefresh aqi-#id#-label-header"  data-type="info" data-subtype="other" data-cmd_id="#grass_pollenid#">
                <div>#grass_pollen_name#</div>
                <div class="space-aqi-#id#" >#grass_pollen#</div>
            </div>
        </div>
        <div class="tooltips header-#id#-mini" title="#tree_risk# : #list_tree_pollen#" >
            <div class="container-#id#-svg ">
                <div>#icone_tree_pollen#</div>
            </div>
            <div class="#history# cursor cmd noRefresh aqi-#id#-label-header" data-type="info" data-subtype="other"
            data-cmd_id="#tree_pollenid#">
                <div>#tree_pollen_name#</div>
                <div class="space-aqi-#id#">#tree_pollen#</div>
            </div>
        </div>
        <div class="tooltips header-#id#-mini" title="#weed_risk# : #list_weed_pollen#" >
            <div class="container-#id#-svg ">
                <div class="tooltips">#icone_weed_pollen#</div>
            </div>
            <div class="#history# cursor cmd noRefresh aqi-#id#-label-header" data-type="info" data-subtype="other"
            data-cmd_id="#weed_pollenid#">
                <div >#weed_pollen_name#</div>
                <div class="space-aqi-#id#">#weed_pollen#</div>
            </div>
        </div>
    </div>
    <div title="#updatedAt#" class="cmd header-#id#-mini active-pollen-#id# ">
        #active_pollen_label# : #activePollen# / 15
    </div>
    <div id="airquality-min#uid#" class="carousel slide aqi-#id#-space" data-ride="carousel" data-pause="hover"
        #classCaroussel#>
        <div class="carousel-inner slide#id#">#mini_slide#</div>
        <a class="left carousel-control my#id#" href="#airquality-min#uid#" data-slide="prev"
            style="background:transparent">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="right carousel-control my#id#" href="#airquality-min#uid#" data-slide="next"
            style="background:transparent">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>
<script>

var labels =["Vendredi","Samedi","Dimanche","Lundi","Mardi"];

function parseData(minArray, maxArray) {

        let data = [];
        data.push(minArray);
        data.push(maxArray);
        return data;
    }

   
$(document).ready(function () {


    var dataPoaceae =  parseData([173.57,165.22,176.91,173.57,180.24], [226.97,195.27,195.27,193.6,208.62]);
    GiveaChart('container_poaceae_#id#', dataPoaceae, 'Poaceae', '#color_poaceae#');

    var dataAlder =  parseData([0,0,0,0,0.77], [4.08,2.6,0.28,0.38,1.01]);
    GiveaChart('container_alder_#id#', dataAlder, 'Alder','#color_alder#');

    var dataBirch =  parseData([13.57,16.22,76.91,73.57,180.24], [206.97,195.27,195.27,193.6,208.62]);
    GiveaChart('container_birch_#id#', dataBirch, 'Birch','#color_birch#');

    var dataCypress =  parseData([0,0,0,0,0.77], [4.08,2.6,0.28,0.38,1.01]);
    GiveaChart('container_cypress_#id#', dataCypress, 'PM10','#color_cypress#');

    var dataElm =  parseData([173.57,165.22,176.91,173.57,180.24], [226.97,195.27,195.27,193.6,208.62]);
    GiveaChart('container_elm_#id#', dataElm, 'Elm','#color_elm#');

    // var dataHazel =  parseData(#hazel_min#, #hazel_max#);
    var dataHazel =   parseData([1,2,0,0,0.77], [4.08,2.6,1.28,0.38,1.01]);
    GiveaChart('container_hazel_#id#', dataHazel, 'Hazel','#color_hazel#');
   
    var dataOak =  parseData([13.57,16.22,76.91,73.57,180.24], [206.97,195.27,195.27,193.6,208.62]);
    GiveaChart('container_oak_#id#', dataOak, 'Oak','#color_oak#');
   
    var dataPine =   parseData([1,2,0,0,0.77], [4.08,2.6,1.28,0.38,1.01]);
    GiveaChart('container_pine_#id#', dataPine, 'Pine','#color_pine#');
   
    var dataPlane = parseData([1,2,0,0,0.77], [4.08,2.6,1.28,0.38,1.01]);
    GiveaChart('container_plane_#id#', dataPlane, 'Plane','#color_plane#');

    var dataPoplar = parseData([1,2,0,0,0.77], [4.08,2.6,1.28,0.38,1.01]);
    GiveaChart('container_poplar_#id#', dataPoplar, 'Poplar','#color_poplar#');

    var dataChenopod = parseData([1,2,0,0,0.77], [4.08,2.6,1.28,0.38,1.01]);
    GiveaChart('container_chenopod_#id#', dataChenopod, 'Chenopod','#color_chenopod#');

    var dataMugwort = parseData([1,2,0,0,0.77], [4.08,2.6,1.28,0.38,1.01]);
    GiveaChart('container_mugwort_#id#', dataMugwort, 'Mugwort','#color_mugwort#');

    var dataNettle = parseData([1,2,1,2,0.77], [4.08,4.6,8.28,7.38,2.01]);
    GiveaChart('container_nettle_#id#', dataNettle, 'Nettle','#color_nettle#');

    var dataRagweed = parseData([1,2,1,2,0.77], [4.08,4.6,8.28,7.38,2.01]);
    GiveaChart('container_ragweed_#id#', dataRagweed, 'Ragweed','#color_ragweed#');
    
    var dataOthers = parseData([1,2,1,2,1.77], [4.08,2.6,8.28,7.38,2.01]);
    GiveaChart('container_others_#id#', dataOthers, 'Ragweed','#color_others#');


    })
  

    function GiveaChart(container, data, name, colorOne = '#00AEEC') {

        Highcharts.chart(container, {

            chart: {

                type: 'column',
                height: 170,
                width: 260,
                alignTicks: true,
                  borderWidth:0
            },
            exporting: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            title: {
                text: null
            },

            xAxis: {
                labels: {
                    rotation: -40,
                    overflow: 'justify',
                    style: { fontSize: '10px' },
                    x: 14,
                    y: 15
                },
                min: 0,
                categories: labels,
                tickWidth: 1,
                gridLineWidth: 0,
              

            },
            yAxis: [{
                // softMax: 250,
                // softMin: 100,
                visible: false,
                title: {
                    text: null
                },
                labels: {
                    align: 'center',
                    x: 0,
                    y: 0,
                    format: '{value:.,0f}'
                },
            }],

            legend: {
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0,
                padding: 2,
                margin: 0
            },

            tooltip: {
                shared: true,
                // crosshairs: true,
                // split: true,
                // distance: 30,
                padding: 3,
                // stickOnContact: true

            },

            plotOptions: {

                column: {
                    pointPadding: 0.20,
                    borderWidth: 0,
                //     // width: 2
                 },
                series: {
                    // maxPointWidth: 50,
                    // cursor: 'pointer',
                    // className: 'popup-on-click',
                    lineWidth: 5,
                    marker: {
                        lineWidth: 0
                    }
                }
            },

            series: [

                {
                    name: name + ' min',
                    lineWidth: '4px',
                    marker: { radius: 2 },
                    data: data[0],
                    color: 'currentColor'
                }, {
                    name: name + ' max',
                    lineWidth: '4px',
                    marker: { radius: 2 },
                    data: data[1],
                      color: colorOne
                }
            ]
        });

    
    }
////////////////////////////////////////////////////////////////////////
// var labels = #labels#;
// // labels = labels.split(',');


// function parseData(minArray, maxArray) {

//         let data = [];
//         data.push(minArray);
//         data.push(maxArray);
//         return data;
//     }

   
// $(document).ready(function () {


//     var dataPoaceae =  parseData(#poaceae_min#, #poaceae_max#);
//     GiveaChart('container_poaceae_#id#', dataPoaceae, 'Poaceae', '#color_poaceae#');

//     // var dataNo =  parseData('#min_no#', '#max_no#');
//     var dataNo =  parseData(#no_min#, #no_max#);
//     GiveaChart('container_no_#id#', dataNo, 'NO','#color_no#');

//     var dataPm25 =  parseData( #pm25_min# , #pm25_max#);
//     GiveaChart('container_pm25_#id#', dataPm25, 'PM2.5','#color_pm25#');

//     var dataPm10 =  parseData(#pm10_min#, #pm10_max#);
//     GiveaChart('container_pm10_#id#', dataPm10, 'PM10','#color_pm10#');

//     var dataO3 =  parseData(#o3_min#, #o3_max#);
//     GiveaChart('container_o3_#id#', dataO3, 'O³','#color_o3#');

//     var dataNo2 =  parseData(#no2_min#, #no2_max#);
//     GiveaChart('container_no2_#id#', dataNo2, 'NO²','#color_no2#');
   
//     var dataSo2 =  parseData(#so2_min#, #so2_max#);
//     GiveaChart('container_so2_#id#', dataSo2, 'SO²','#color_so2#');
   
//     var dataNh3 =  parseData(#nh3_min#, #nh3_max#);
//     GiveaChart('container_nh3_#id#', dataNh3, 'NH³','#color_nh3#');
   
//     var dataAqi =  parseData(#aqi_min#, #aqi_max#);
//     GiveaChart('container_aqi_#id#', dataAqi, 'AQI','#color_aqi#');


//     })
  

//     function GiveaChart(container, data, name, colorOne = '#00AEEC') {

//         Highcharts.chart(container, {

//             chart: {

//                 type: 'column',
//                 height: 180,
//                 width: 250,
//                 alignTicks: true,
//                   borderWidth:0
//             },
//             exporting: {
//                 enabled: false
//             },
//             credits: {
//                 enabled: false
//             },
//             title: {
//                 text: null
//             },

//             xAxis: {
//                 labels: {
//                     rotation: -40,
//                     overflow: 'justify',
//                     style: { fontSize: '10px' },
//                     x: 14,
//                     y: 15
//                 },
//                 min: 0,
//                 categories: labels,
//                 tickWidth: 1,
//                 gridLineWidth: 0,
              

//             },
//             yAxis: [{
//                 // softMax: 250,
//                 // softMin: 100,
//                 visible: false,
//                 title: {
//                     text: null
//                 },
//                 labels: {
//                     align: 'center',
//                     x: 0,
//                     y: 0,
//                     format: '{value:.,0f}'
//                 },
//             }],

//             legend: {
//                 align: 'center',
//                 verticalAlign: 'bottom',
//                 borderWidth: 0
//             },

//             tooltip: {
//                 shared: true,
//                 // crosshairs: true,
//                 // split: true,
//                 // distance: 30,
//                 padding: 3,
//                 // stickOnContact: true

//             },

//             plotOptions: {

//                 column: {
//                     pointPadding: 0.20,
//                     borderWidth: 0,
//                 //     // width: 2
//                  },
//                 series: {
//                     // maxPointWidth: 50,
//                     // cursor: 'pointer',
//                     // className: 'popup-on-click',
//                     lineWidth: 5,
//                     marker: {
//                         lineWidth: 0
//                     }
//                 }
//             },

//             series: [

//                 {
//                     name: name + ' min',
//                     lineWidth: '4px',
//                     marker: { radius: 2 },
//                     data: data[0],
//                     color: 'currentColor'
//                 }, {
//                     name: name + ' max',
//                     lineWidth: '4px',
//                     marker: { radius: 2 },
//                     data: data[1],
//                       color: colorOne
//                 }
//             ]
//         });

    
//     }

      



    $(document).ready(function () {


         
        // var mySlider#id# = $('#airquality-min#uid#').carousel()

        //      $('#airquality-min#uid#').hover(function () {
        //             console.log('pause')
        //             mySlider#id#.carousel('pause');
        //        }, function () {
        //             mySlider#id#.carousel({
        //                  'pause': false
        //             });
        //             console.log('restart')
        //        });


        

               if ('#animation#' == 'active') {
                    var t#uid#;

                    var start#uid# = $('#airquality-min#uid#').find('.active').attr('data-interval');
                    t#uid# = setTimeout("$('#airquality-min#uid#').carousel({interval: 1000});",
                         start#uid# - 1000);

                    $('#airquality-min#uid#').on('slid.bs.carousel', function () {
                         clearTimeout(t#uid#);
                         var duration#uid# = $(this).find('.active').attr('data-interval');

                         $('#airquality-min#uid#').carousel('pause');
                         t#uid# = setTimeout("$('#airquality-min#uid#').carousel();",
                              duration#uid# - 1000);
                    })
                    $('.right.carousel-control.my#id#').on('click', function () {
                         clearTimeout(t#uid#);
                    });
                    $('.left.carousel-control.my#id#').on('click', function () {
                         clearTimeout(t#uid#);
                    });
               }


               $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function () {
                    jeedom.cmd.execute({
                         id: $(this).data('cmd_id')
                    });

               });
          });
     </script>
</div>