
      // Créé un Highchart avec une config particulière + id en param à placer dans le DOM
      if ('#chart_pm10_state#' == 'enable'){
             Highcharts.chart('particulespm10#id#', getMainConfig('pm10'));
      }
      if ('#chart_pm25_state#' == 'enable'){
          Highcharts.chart('particulespm25#id#', getMainConfig('pm25'));
      }
      if ('#chart_co_state#' == 'enable'){
      Highcharts.chart('particulesco#id#', getMainConfig('co'));
    }
      if ('#chart_o3_state#' == 'enable'){
      Highcharts.chart('particuleso3#id#', getMainConfig('o3'));
    }
      if ('#chart_nh3_state#' == 'enable'){
      Highcharts.chart('particulesnh3#id#', getMainConfig('nh3'));
    }
      if ('#chart_so2_state#' == 'enable'){
      Highcharts.chart('particulesso2#id#', getMainConfig('so2'));
    }
      if ('#chart_no2_state#' == 'enable'){
      Highcharts.chart('particulesno2#id#', getMainConfig('no2'));
    }
      if ('#chart_no_state#' == 'enable'){
      Highcharts.chart('particulesno#id#', getMainConfig('no'));
    }
      if ('#chart_aqi_state#' == 'enable'){
      Highcharts.chart('particulesaqi#id#', getMainConfig('aqi'));
    }
    
    