<div class="item #active# #name#" data-interval="#dataInterval#" data-pause="hover">
    <!-- Stat  -->
    <div class="contain-stat-modal#id# #history# state" data-cmd_id="#cmdid#"><i class="fas fa-chart-bar"
            style="font-size:120%;"></i></div>
    <!-- Chart -->
    <div class="aqi-#id#-row cmd" data-type="info" data-subtype="numeric" data-cmd_id="#cmdid#"
        id="particules#name##id#">
    </div>
    <!-- Value Numerique -->
    <div class="replace-#id#-value state ">#value#</div>
    <div class="aqi-#id#-unity state">μg/m³</div>
    <!-- Info -->
    <div class="contain-info-modal state cursor" id="info-modal#cmdid#">
        <i class="fas fa-info-circle" style="font-size:100%;"></i>
    </div>
    <!-- AVERAGE  -->
    <div class="contain-minmax-modal#id# #history# container-fluid state tooltips cmd-widget .eqLogic .eqLogic-widget"
        data-cmd_id="#cmdid#" data-eqlogic_id="#id#" data-type="info" data-subtype="numeric">
        <div style="font-size: 0.8em;" class="state">
            <span title="Min" class="tooltips">#minHistoryValue#</span> |
            <span title="Moyenne" class="tooltips">#averageHistoryValue#</span> |
            <span title="Max" class="tooltips">#maxHistoryValue#</span>&nbsp;<i style="font-size: 0.75em;"
                class="#tendance#"></i>
        </div>
    </div>
</div>