<div class="eqLogic eqLogic-widget allowReorderCmd col2" style="border:#border#;border-radius:#border-radius#;
background-color: #background-color#;
color: #color#;  #width#;height: 30vh;
#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#"
 data-version="#version#" data-category="#category#" data-tags="#tags#">
     <span class="statusCmd"></span>
     <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
          <i class="fas fa-sync"></i>
     </span>
     <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>

     <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#
                    <span style="font-size: 0.85em;position: relative;top:-2px;"
                         hidden>#object_name#</span></a></strong>
     </center>
     <style>
     
          .aqi-#id#-row,
          .aqi-#id#-inline {
               display: flex;
               align-items: center;
               flex-direction: row;
               justify-content: space-evenly;
          }
          .aqi-#id#-row{
               margin: auto;
               max-width: 100%;
               justify-content: center
          }

          .aqi-#id#-main {
               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: space-evenly;
               margin-bottom: 15px;
          }

          .aqi-#id#-aqi {
               font-weight: bolder;
               font-size: 2rem;
               line-height: 2.5rem;
          }

          .aqi-#id#-label {
               font-weight: bolder;
               font-size: 3rem;
               line-height: 3.5rem;
               text-align: center;
          }

      /*    .info-modal {
               display: relative;
               top: 0px;
               left: 4px;
          }*/
          .slider-#id#-aqi {
               width: auto;
               height: 100%;
               /*  text-align: center;*/
               overflow: hidden;
               background-color: rgba(137, 149, 117, 0);
          }

          .slides-#id#-aqi {
               display: flex;
               overflow-x: auto;
               overflow-y: hidden;
               scroll-snap-type: x mandatory;
               scroll-behavior: smooth;
               -webkit-overflow-scrolling: touch;
               scroll-snap-points-x: repeat(100%);
               scroll-snap-type: mandatory;
               width: auto;
               height: 90%;

          }

          .slides-#id#-aqi::-webkit-scrollbar {
               width: 10px;
               height: 10px;
          }

            .slides::-webkit-scrollbar-thumb {
               background: rgb(241, 0, 0);
               border-radius: 5px;
          }

          .slides-#id#-aqi::-webkit-scrollbar-track {
               background: transparent;
          }

          .slides-#id#-aqi>div {
               scroll-snap-align: start;
               flex-shrink: 0;
               width: 100%;
               height: 100%;
               /*margin-right: 50px;
                 border-radius: 10px; */
               background: rgba(238, 238, 238, 0);
               transform-origin: center center;
               transform: scale(1);
               transition: transform 0.8s;
               position: relative;

               display: flex;
               justify-content: center;
               align-items: center;
          }

          .slides-#id#-aqi>div:target {
               transform: scale(0.8);
          }

         .aqi-#id#-row>div>*>svg>rect.highcharts-background {
          fill: rgba(0, 0, 0, 0) !important;
          fill-opacity: var(0);
     }
     </style>
          <!-- Wrapper for slides -->
          <div class="slider-#id#-aqi">
               <div class="slides-#id#-aqi" id="chart#id#">
                     <!-- Contenu  II -->
                     <div class="row second-row" id="slide-2-#id#-aqi">


                        
                         <div class="aqi-#id#-row">
                              <div class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#coid#"
                                   id="particulesco#id#">
                              </div>
                         </div>
                      
                    </div>
                    <!-- Contenu  I -->
                    <div  class="row first-row"  id="slide-1-#id#-aqi">
                         <div class="aqi-#id#-row">
                            <!-- <div class="aqi-#id#-main">
                                   <strong class="cmd noRefresh aqi-#id#-aqi">A.Q.I</strong>
                                   <strong class="cmd noRefresh aqi-#id#-label">#aqi#</strong> -->

                                   <div class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#nh3id#"
                                   id="aqi-chart#id#" >
                                  </div>
                                 
                                   <!-- <span>#test#</span> 
                              </div>-->
                         </div>
                    </div>
                    <!-- Contenu  III -->
                    <div class="row third-row" id="slide-3-#id#-aqi">
                         <div class="aqi-#id#-row">
                              <div class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#nh3id#"
                                   id="particulesnh3#id#" >
                              </div>
                         </div>
                    </div>
                    <!-- Contenu  4 -->
                    <div class="row four-row" id="slide-4-#id#-aqi">
                         <div class="aqi-#id#-row">
                              <div class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#noid#"
                                   id="particulesno#id#">
                              </div>
                         </div>
                    </div>
                    <!-- Contenu  5 -->
                    <div class="row five-row" id="slide-5-#id#-aqi">
                         <div class="aqi-#id#-row">
                              <div class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#pm25id#"
                                   id="particules25#id#">
                              </div>
                         </div>
                    </div>
                      <!-- Contenu  6 -->
                    <div class="row six-row" id="slide-6-#id#-aqi">
                         <div class="aqi-#id#-row">
                              <div class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#no2id#"
                                   id="particulesno2#id#">
                              </div>
                         </div>
                    </div>
                    <!-- Contenu  7 -->
                    <div class="row six-row" id="slide-7-#id#-aqi">
                         <div class="aqi-#id#-row">
                              <div class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#o3id#"
                                   id="particuleso3#id#">
                              </div>
                         </div>
                    </div>
                    <!-- Contenu  8 -->
                    <div class="row six-row" id="slide-8-#id#-aqi">
                         <div class="aqi-#id#-row">
                              <div class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#so2id#"
                                   id="particulesso2#id#">
                              </div>
                         </div>
                    </div>
                       <!-- Contenu  9 -->
                       <div class="row six-row" id="slide-9-#id#-aqi">
                         <div class="aqi-#id#-row">
                              <div class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#pm10id#"
                                   id="particules10#id#">
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     <script>
        

          $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function () {
               jeedom.cmd.execute({
                    id: $(this).data('cmd_id')
               });
          });

          console.log('read airqulity.html')

     /*     $('#info-aqi-modal#id#').on('click', function () {
               $('#md_modal').dialog({
                    title: "Vos informations"
               });
               $('#md_modal').load('index.php?v=d&plugin=airquality&modal=infoAqiModal&id=#id#').dialog(
                    'open');
          });*/


          if ($('#chart#id#').html() != undefined) {

               Highcharts.themeFull#id# = {
                    chart: {
                         type: "gauge",
                         height: 210,
                         width: 210,
                         plotBackgroundColor: 'transparent',
                         plotBackgroundImage: null,
                         plotBorderWidth: 0,
                         plotShadow: false,
                         spacingTop: 10,
                         spacingLeft: 0,
                         spacingRight: 0,
                         spacingBottom: 10
                    },
                    credits: {
                         enabled: false
                    },
                    title: {
                         text: null,
                    },
                    legend: {
                         enabled: false
                    },

                    pane: {
                         startAngle: -150,
                         endAngle: 150,
                         background: null
                    },
                    exporting: {
                         enabled: false
                    },
                    tooltip: {
                         valueSuffix: "<br style='font-size:0.6rem'>μg/m³"

                    },
                    yAxis: {
                         min: 0,
                         minorTickInterval: "auto",
                         minorTickWidth: 1,
                         minorTickLength: 5,
                         minorTickPosition: "outside",
                         minorTickColor: "#666",
                         tickPixelInterval: 50,
                         tickWidth: 2,
                         tickPosition: "outside",
                         tickLength: 8,
                         tickColor: "#666",
                         labels: {
                              step: 1,
                              rotation: "auto",
                              distance: '75%',
                         },
                         title: {
                              y: 80,
                              style: {
                                   fontSize: '180%'
                              }
                         },
                         plotBands: [{
                            
                              outerRadius: '125%',
                          }]

                    },
                    plotOptions: {
                         series: {
                              dataLabels: {
                                   enabled: true,
                                   y: -38,
                                   backgroundColor: 'rgba(255, 255, 255, 0.9)',
                                   className: 'highlight',
                                   borderWidth: 1,
                                   shadow: false,
                                  /* padding:4,*/
                                   style: {
                                        textTransform: 'uppercase',
                                     /*   fontSize: '13px',
                                        color: '#000',*/
                                   }
                              }
                         },
                         gauge: {
                              dial: {
                                   backgroundColor: 'currenColor'
                              },
                              pivot: {
                                   backgroundColor: 'rgba(200, 200, 200, 0.9)'
                              }
                         }
                    },

               };

               Highcharts.setOptions(Highcharts.themeFull#id#);
         
               /*  Echelle du cadran */
               let myThickness = '7%'
        
               let plotBandO3 = [{
                         from: 0,
                         to: 50,
                         thickness: myThickness,
                         color: "#00AEEC" // blue
                    },
                    {
                         from: 50,
                         to: 100,
                         thickness: myThickness,
                         color: "#00BD01" // green
                    },
                    {
                         from: 100,
                         to: 130,
                         thickness: myThickness,
                         color: "#EFE800" // yellow
                    },
                    {
                         from: 130,
                         to: 240,
                         thickness: myThickness,
                         color: "#E79C00" // orange
                    },
                    {
                         from: 240,
                         to: 380,
                         thickness: myThickness,
                         color: "#B00000" // red
                    },
                    {
                         from: 380,
                         to: 500,
                         thickness: myThickness,
                         color: "#662D91" // purple
                    }
               ];

               let plotBandSO2 = [{
                         from: 0,
                         to: 50,
                         thickness: myThickness,
                         color: "#00AEEC", // blue
                         outerRadius: '125%',
                    },
                    {
                         from: 50,
                         to: 100,
                         thickness: myThickness,
                         color: "#00BD01", // green
                         outerRadius: '125%',
                    },
                    {
                         from: 100,
                         to: 150,
                         thickness: myThickness,
                         color: "#EFE800" // yellow
                    },
                    {
                         from: 150,
                         to: 240,
                         thickness: myThickness,
                         color: "#E79C00" // orange
                    },
                    {
                         from: 240,
                         to: 380,
                         thickness: myThickness,
                         color: "#B00000" // red
                    },
                    {
                         from: 380,
                         to: 500,
                         thickness: myThickness,
                         color: "#662D91" // purple
                    }
               ];

               let plotBandNO2 = [{
                         from: 0,
                         to: 40,
                         thickness: myThickness,
                         color: "#00AEEC" // blue
                    },
                    {
                         from: 40,
                         to: 90,
                         thickness: myThickness,
                         color: "#00BD01" // green
                    },
                    {
                         from: 90,
                         to: 120,
                         thickness: myThickness,
                         color: "#EFE800" // yellow
                    },
                    {
                         from: 120,
                         to: 230,
                         thickness: myThickness,
                         color: "#E79C00" // orange
                    },
                    {
                         from: 230,
                         to: 340,
                         thickness: myThickness,
                         color: "#B00000" // red
                    },
                    {
                         from: 340,
                         to: 600,
                         thickness: myThickness,
                         color: "#662D91" // purple
                    }
               ];

               let plotBandPM10 = [{
                         from: 0,
                         to: 20,
                         thickness: myThickness,
                         color: "#00AEEC" // blue
                    },
                    {
                         from: 20,
                         to: 40,
                         thickness: myThickness,
                         color: "#00BD01" // green
                    },
                    {
                         from: 40,
                         to: 50,
                         thickness: myThickness,
                         color: "#EFE800" // yellow
                    },
                    {
                         from: 50,
                         to: 100,
                         thickness: myThickness,
                         color: "#E79C00" // orange
                    },
                    {
                         from: 100,
                         to: 150,
                         thickness: myThickness,
                         color: "#B00000" // red
                    },
                    {
                         from: 150,
                         to: 1000,
                         thickness: myThickness,
                         color: "#662D91" // purple
                    }
               ];

               let plotBandPM25 = [{
                         from: 0,
                         to: 10,
                         thickness: myThickness,
                         color: "#00AEEC", // blue
                         borderWidth: 10
                    },
                    {
                         from: 10,
                         to: 20,
                         thickness: myThickness,
                         color: "#00BD01" // green

                    },
                    {
                         from: 20,
                         to: 25,
                         thickness: myThickness,
                         color: "#EFE800" // yellow
                    },
                    {
                         from: 25,
                         to: 50,
                         thickness: myThickness,
                         color: "#E79C00" // orange
                    },
                    {
                         from: 50,
                         to: 75,
                         thickness: myThickness,
                         color: "#B00000" // red
                    },
                    {
                         from: 75,
                         to: 1000,
                         thickness: myThickness,
                         color: "#662D91" // purple
                    }
               ];

               // A verifier Non Officiel
               let plotBandNO = [{
                         from: 0,
                         to: 40,
                         thickness: myThickness,
                         color: "#00AEEC" // blue
                    },
                    {
                         from: 40,
                         to: 90,
                         thickness: myThickness,
                         color: "#00BD01" // green
                    },
                    {
                         from: 90,
                         to: 120,
                         thickness: myThickness,
                         color: "#EFE800" // yellow
                    },
                    {
                         from: 120,
                         to: 230,
                         thickness: myThickness,
                         color: "#E79C00" // orange
                    },
                    {
                         from: 230,
                         to: 340,
                         thickness: myThickness,
                         color: "#B00000" // red
                    },
                    {
                         from: 340,
                         to: 400,
                         thickness: myThickness,
                         color: "#662D91" // purple
                    }
               ];
               // A verifier  Non Officiel
               let plotBandCO = [{
                         from: 0,
                         to: 90,
                         thickness: myThickness,
                         color: "#00AEEC" // blue
                    },
                    {
                         from: 90,
                         to: 180,
                         thickness: myThickness,
                         color: "#00BD01" // green
                    },
                    {
                         from: 180,
                         to: 250,
                         thickness: myThickness,
                         color: "#EFE800" // yellow
                    },
                    {
                         from: 250,
                         to: 340,
                         thickness: myThickness,
                         color: "#E79C00" // orange
                    },
                    {
                         from: 340,
                         to: 390,
                         thickness: myThickness,
                         color: "#B00000" // red
                    },
                    {
                         from: 390,
                         to: 4000,
                         thickness: myThickness,
                         color: "#662D91" // purple
                    }
               ];
               // A verifier Non Officiel
               let plotBandNH3 = [{
                         from: 0,
                         to: 8,
                         thickness: myThickness,
                         color: "#00AEEC" // blue
                    },
                    {
                         from: 8,
                         to: 20,
                         thickness: myThickness,
                         color: "#00BD01" // green
                    },
                    {
                         from: 20,
                         to: 35,
                         thickness: myThickness,
                         color: "#EFE800" // yellow
                    },
                    {
                         from: 35,
                         to: 50,
                         thickness: myThickness,
                         color: "#E79C00" // orange
                    },
                    {
                         from: 50,
                         to: 70,
                         thickness: myThickness,
                         color: "#B00000" // red
                    },
                    {
                         from: 70,
                         to: 300,
                         thickness: myThickness,
                         color: "#662D91" // purple
                    }
               ];

               
               let plotBandAqi = [{
                    from: 0,
                    to: 1,
                    thickness: myThickness,
                    color: "#00AEEC", // blue
                    borderWidth: 10
               },
               {
                    from: 1,
                    to: 2,
                    thickness: myThickness,
                    color: "#00BD01" // green

               },
               {
                    from: 2,
                    to: 3,
                    thickness: myThickness,
                    color: "#EFE800" // yellow
               },
               {
                    from: 3,
                    to: 4,
                    thickness: myThickness,
                    color: "#E79C00" // orange
               },
               {
                    from: 4,
                    to: 5,
                    thickness: myThickness,
                    color: "#B00000" // red
               },
               {
                    from: 5,
                    to: 6,
                    thickness: myThickness,
                    color: "#662D91" // purple
               }
          ];

               // PM10 
               Highcharts.chart(
                    "particules10#id#", {
                         yAxis: {
                              softMax: 160,
                              title: {
                                   text: 'PM<span style="font-size:60%">10</span>',
                              },
                              plotBands: plotBandPM10
                         },
                         series: [{
                              name: "PM10<br>",
                              data: [#pm10#]
                         }]
                    }
               )
                   
               // AQI 
               Highcharts.chart(
                    "aqi-chart#id#", {
                         yAxis: {
                              softMax: 6,
                              title: {
                                   text: '<h2>AQI</h2>'
                              },
                              plotBands: plotBandAqi
                         },
                         series: [{
                              name: "AQI<br>",
                              data: [#aqi#]
                         }]
                    }
               )

               // PM25
               Highcharts.chart(
                    "particules25#id#", {
                         /*  chart: {
                              height: heightPM,
                              width: WidthPm
                         },*/
                         yAxis: {
                              softMax: 80,
                              title: {
                                   text: 'PM<span style="font-size:60%">2.5</span>',
                                   /*  y: yTitle,*/
                              },
                              plotBands: plotBandPM25
                         },
                         series: [{
                              name: "PM<sub>2.5</sub><br/>",
                              data: [#pm25#]
                         }]
                    }
               );

               // O3
               Highcharts.chart(
                    "particuleso3#id#", {

                         // the value axis
                         yAxis: {
                              min: 0,
                              softMax: 400,
                              title: {
                                   text: '<h2>O³</h2>',
                                   x: 0
                              },
                              plotBands: plotBandO3
                         },
                         series: [{
                              name: "Ozone<br/>",
                              data: [#o3#]
                         }]
                    }
               );

               // NO2
               Highcharts.chart(
                    "particulesno2#id#", {
                         yAxis: {
                              softMax: 400,
                              title: {
                                   text: '<h2>NO²</h2>'
                              },
                              plotBands: plotBandNO2
                         },
                         series: [{
                              name: "Dioxyde <br/>d'azote<br/>",
                              data: [#no2#]
                         }]
                    }
               );

               // SO²
               Highcharts.chart(
                    "particulesso2#id#", {
                         yAxis: {
                              softMax: 400,
                              title: {
                                   text: '<h2>SO²</h2>',
                                   x: 0,
                              },
                              plotBands: plotBandO3
                         },
                         series: [{
                              name: "Dioxyde<br/> de souffre<br/>",
                              data: [#so2#]
                         }]
                    }
               );

              
               // CO
               Highcharts.chart(
                    "particulesco#id#", {
                         yAxis: {
                              softMax: 450,
                              title: {
                                   text: '<h2>CO</h2>',
                                   x: 0,
                              },
                              plotBands: plotBandCO
                         },
                         series: [{
                              name: "Monoxyde de carbone<br/>",
                              data: [#co#]
                         }]
                    }
               );

               // NH3
               Highcharts.chart(
                    "particulesnh3#id#", {
                         yAxis: {
                              softMax: 100,
                              title: {
                                   text: '<h2>NH³</h2>',
                                   x: 0,
                              },
                              plotBands: plotBandNH3
                         },
                         series: [{
                              name: "Ammoniac<br/>",
                              data: [#nh3#],
                              DataLabelsOverflowValue: 'justify'
                         }]
                    }
               );

               // NO
               Highcharts.chart(
                    "particulesno#id#", {
                         yAxis: {
                              softMax: 400,
                              title: {
                                   text: '<h2>NO</h2>',
                                   x: 0,
                              },
                              plotBands: plotBandNO
                         },
                         series: [{
                              name: "Monoxyde d'azote<br/>",
                              data: [#no#]
                             
                         }]
                    }
               );


          }
     </script>
</div>