<div class="eqLogic eqLogic-widget allowResize allowReorderCmd col2" style="border:#border#;border-radius:#border-radius#;
background-color: #background-color#;
color: #color#;
width: #width#;height: #height#;
#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#"
     data-tags="#tags#">
     <span class="statusCmd"></span>
     <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#"><i class="fas fa-sync"></i></span>
     <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
     <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#
                    <span style="font-size: 0.85em;position: relative;top:-2px;"
                         hidden>#object_name#</span></a></strong>
     </center>


     <style>
        .aqi-#id#-row {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
        }
    
        .aqi-#id#-particule {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content:center;
        }
    
        .aqi-#id#-space {
            margin-top: 10px;
        }
    
        .aqi-#id#-aqi {
            margin-top: 5px;
        }
    
        .aqi-#id#-value,
        .aqi-#id#-label,
        .contain-minmax-#id#{
            margin-top: 5px;
        }
    
        .aqi-#id#-label {
            font-weight:700;
            font-size: 160%;
            text-align: center;
        }
    
        #airquality-min#uid#>.carousel-control {
            position: absolute;
            top: 30%;
            z-index: 5;
            display: inline-block;
            margin-top: 0px;
            width: 15px;
        }
    
        #airquality-min#uid# {
            margin-top: 25px;
        }
    
        #forecast-#uid#>.carousel-control {
            position: absolute;
            top: 50%;
            z-index: 5;
            display: inline-block;
            margin-top: 0px;
            width: 20px;
        }
    
        .header-#id#-container {
            margin-top: 15px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            vertical-align: middle;
        }
    
        .header-#id#-min {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    
        /* .active-aqi-#id#{
             margin:15px 0 0 0;
        } */
    
    
        /*     highchart  */
       .highcharts-data-table table {
        margin: 0 auto;
        }
    
    
        .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
        }
    
        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
        }
        .highcharts-data-table tr:hover {
        background: #f1f7ff;
        }
    
        /* .chart-#id#-aqi{
            margin-top:10px;
            display: flex;
            align-items: center;
            justify-content: center;
        } */
            .slider-#id#-aqi {
            width: auto;
            height: 100%;
            /*  text-align: center;*/
            overflow: hidden;
            background-color: rgba(137, 149, 117, 0);
        }

        .slides-#id#-aqi {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            scroll-snap-points-x: repeat(100%);
            scroll-snap-type: mandatory;
            width: auto;
            height: 90%;

        }

        .slides-#id#-aqi::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        
            .slides-#id#-aqi::-webkit-scrollbar-track {
            background: transparent;
        }

        .slides-#id#-aqi>div {
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            /*margin-right: 50px;
            border-radius: 10px; */
            background: rgba(238, 238, 238, 0);
            transform-origin: center center;
            transform: scale(1);
            transition: transform 0.8s;
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

        }

        .slides-#id#-aqi>div:target {
            transform: scale(0.8);
        }
    
    </style>
    <!-- <div class="aqi-#id#-container"> -->
    
        <div class="header-#id#-container">
          
            <div class="#history# tooltips header-#id#-min" data-type="info" data-subtype="other" data-cmd_id="#uvid#">
                <div title="Cliquez pour + d'info" id="info-modal#uvid#" class="cursor aqi-#id#-image tooltips">#icone_uv#</div>
                <div class="cmd noRefresh aqi-#id#-label-aqi">#uv_name#</div>
                <div class="cmd noRefresh aqi-#id#-aqi">#uv#</div>
            </div>
      
            <div class="#history# tooltips header-#id#-min" data-type="info" data-subtype="other" data-cmd_id="#aqiid#">    
            
                <div title="Cliquez pour + d'info" id="info-modal#aqiid#" class="aqi-#id#-image tooltips cursor">#icone_aqi#</div>
            
                <div style="font-size: 1.8rem;" class="cmd noRefresh  aqi-#id#-aqi">#aqi_name# #aqi#</div>
                <div style="font-size: 1.2rem;" class="cmd noRefresh aqi-#id#-space">#aqiinfo#</div>
            </div>
    
            <div class="#history# tooltips header-#id#-min" data-type="info" data-subtype="other" data-cmd_id="#visibilityid#">
                <div  title="Cliquez pour + d'info" id="info-modal#visibilityid#" class="cursor aqi-#id#-image tooltips">#icone_visibility#</div>
                <div class="cmd noRefresh">#visibility_name#</div>
                <div title="#visibility#  m" class="cmd noRefresh aqi-#id#-aqi">#visibility#</div>
            </div>    
        </div>


        <div class="slider-#id#-aqi ">
        
            <div class="slides-#id#-aqi">
        
                <div id="slide-1-#id#-aqi row first-row aqi-#id#-row">
        
                  

                        <div class="col-lg-12 col-sm-12 col-xs-12 cmd noRefresh aqi-#id#-particule "
                            title="Particules fines taille PM 2.5" data-type="info" data-subtype="numeric"
                            data-cmd_id="#pm2_5id#">
                        
                            <div class="aqi-#id#-inline">
                                <div class="aqi-#id#-image">#icone_pm25#</div>
                                <strong class="aqi-#id#-label">PM</strong><sub class="mini-#id#-label">2.5</sub>
                            </div>
                            <div>#pm25# μg/m³</div>


        
                        <!-- <div class="col-lg-4 col-sm-4 col-xs-4 cmd noRefresh aqi-#id#-particule"
                            title="Indice de qualité Globale ATMO" data-type="info" data-subtype="numeric"
                            data-cmd_id="#mainid#">

                            <div class="aqi-#id#-inline">
                                <div class="aqi-#id#-image add-#id#-space">#icone_aqi#</div>
                                <strong class="aqi-#id#-label">AQI</strong>
                            </div>
                            <div>#aqi#</div>


                        </div>
        
                        <div class="col-lg-4 col-sm-4 col-xs-4 cmd noRefresh  aqi-#id#-particule" title="Ozone #ozone_ppm# ppm"
                            data-type="info" data-subtype="numeric" data-cmd_id="#ozoneid#">
                            <div class="aqi-#id#-inline">
                                <div class="aqi-#id#-image">#icone_o3#</div>
                                <strong class="aqi-#id#-label">O³</strong>
                            </div>
                            <div>#o3# μg/m³</div>
                        </div> -->

                    </div>
        
                </div>

                <div id="slide-2-#id#-aqi row second-row aqi-#id#-row">
        
                    <!-- <div class=""> -->
        
        
                        <div class="col-lg-12 col-sm-12 col-xs-12 cmd noRefresh  aqi-#id#-particule"
                            title="Particules fines taille PM 10" data-type="info" data-subtype="numeric"
                            data-cmd_id="#pm10id#">
                            <div class="aqi-#id#-inline">
                                <div class="aqi-#id#-image">#icone_pm10#</div>
                                <strong class="aqi-#id#-label">PM</strong>
                                <sub class="mini-#id#-label">10</sub>
                            </div>
                            <div>#pm10# μg/m³</div>
                        </div>
        
<!--         
                        <div class="col-lg-4 col-sm-4 col-xs-4 cmd noRefresh aqi-#id#-particule" data-type="info"
                            data-subtype="string" data-cmd_id="#dioxydeazoteid#"
                            title="Dioxyde d'azote : #dioxydeazote_ppm# ppm">
                            <div class="aqi-#id#-inline">
                                <div class="aqi-#id#-image add-#id#-space">#icone_no2#</div>
                                <strong class="aqi-#id#-label">NO²</strong>
                            </div>
                            <div>#no2# μg/m³</div>
                        </div> -->
        
                        <!-- <div class="col-lg-12 col-sm-12 col-xs-12 cmd noRefresh aqi-#id#-particule" data-type="info"
                            data-subtype="string" data-cmd_id="#monoxydecarboneid#"
                            title="Monoxide de carbone : #monoxydecarbone_ppm# ppm">
                            <div class="aqi-#id#-inline">
                                <div class="aqi-#id#-image">#icone_co#</div>
                                <strong class="aqi-#id#-label">CO</strong>
                            </div>
                            <div> #co# μg/m³</div>
                        </div> -->
                    
                    <!-- </div> -->

                </div>
        
        
                <div id="slide-3-#id#-aqi row third-row aqi-#id#-row">
                    <!-- <div class=""> -->
        
                        <div class="col-lg-12 col-sm-12 col-xs-12 cmd noRefresh aqi-#id#-particule" data-type="info"
                            data-subtype="string" data-cmd_id="#amoniacid#" title="Ammoniac : #amoniac_ppm# ppm">
                            <div class="aqi-#id#-inline">
                                <div class="aqi-#id#-image">#icone_nh3#</div>
                                <strong class="aqi-#id#-label">NH³</strong>
                            </div>
                            <div>#nh3# μg/m³</div>
                        </div>
<!--         
                        <div class="col-lg-4 col-sm-4 col-xs-4 cmd noRefresh aqi-#id#-particule" data-type="info"
                            data-subtype="string" data-cmd_id="#dioxydesoufreid#" title="Dioxyde de souffre">
                            <div class="aqi-#id#-inline">
                                <div class="aqi-#id#-image add-#id#-space">#icone_so2#</div>
                                <strong class="aqi-#id#-label">SO²</strong>
                            </div>
                            <div>#so2# μg/m³</div>
                        </div>
        
                        <div class="col-lg-4 col-sm-4 col-xs-4 cmd noRefresh aqi-#id#-particule" data-type="info"
                            data-subtype="string" data-cmd_id="#monoxydeazoteid#" title="Monoxyde d'azote">
                            <div class="aqi-#id#-inline">
                                <div class="aqi-#id#-image">#icone_no#</div>
                                <strong class="aqi-#id#-label">NO</strong>
                            </div>
                            <div>#no# μg/m³</div>
                        </div> -->

                    <!-- </div> -->

                </div>
            </div>
        </div>
    
    
     
    
     
    <!-- </div> -->
    
    <script>
    
    var labels = #labels#;
    // labels = labels.split(',');
    
    
    function parseData(minArray, maxArray) {
    
            // let mintab = minArray.split(',');
            // let maxtab = maxArray.split(',');
            // let parseMin = mintab.map(function (x) {
            //     return parseInt(x, 10);
            // })
            // let parseMax = maxtab.map(function (y) {
            //     return parseInt(y, 10);
            // })
            let data = [];
            data.push(minArray);
            data.push(maxArray);
            return data;
        }
    
       
        $(document).ready(function () {
    
    
        var dataCo =  parseData(#co_min#, #co_max#);
        GiveaChart('container_co_#id#', dataCo, 'CO', '#color_co#');
    
        // var dataNo =  parseData('#min_no#', '#max_no#');
        var dataNo =  parseData(#no_min#, #no_max#);
        GiveaChart('container_no_#id#', dataNo, 'NO','#color_no#');
    
        var dataPm25 =  parseData( #pm25_min# , #pm25_max#);
        GiveaChart('container_pm25_#id#', dataPm25, 'PM2.5','#color_pm25#');
    
        var dataPm10 =  parseData(#pm10_min#, #pm10_max#);
        GiveaChart('container_pm10_#id#', dataPm10, 'PM10','#color_pm10#');
    
        var dataO3 =  parseData(#o3_min#, #o3_max#);
        GiveaChart('container_o3_#id#', dataO3, 'O³','#color_o3#');
    
        var dataNo2 =  parseData(#no2_min#, #no2_max#);
        GiveaChart('container_no2_#id#', dataNo2, 'NO²','#color_no2#');
       
        var dataSo2 =  parseData(#so2_min#, #so2_max#);
        GiveaChart('container_so2_#id#', dataSo2, 'SO²','#color_so2#');
       
        var dataNh3 =  parseData(#nh3_min#, #nh3_max#);
        GiveaChart('container_nh3_#id#', dataNh3, 'NH³','#color_nh3#');
       
        var dataAqi =  parseData(#aqi_min#, #aqi_max#);
        GiveaChart('container_aqi_#id#', dataAqi, 'AQI','#color_aqi#');
    
    
        })
      
    
        function GiveaChart(container, data, name, colorOne = '#00AEEC') {
    
            Highcharts.chart(container, {
    
                chart: {
    
                    type: 'column',
                    height: 180,
                    width: 250,
                    alignTicks: true,
                      borderWidth:0
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: null
                },
    
                xAxis: {
                    labels: {
                        rotation: -40,
                        overflow: 'justify',
                        style: { fontSize: '10px' },
                        x: 14,
                        y: 15
                    },
                    min: 0,
                    categories: labels,
                    tickWidth: 1,
                    gridLineWidth: 0,
                  
    
                },
                yAxis: [{
                    // softMax: 250,
                    // softMin: 100,
                    visible: false,
                    title: {
                        text: null
                    },
                    labels: {
                        align: 'center',
                        x: 0,
                        y: 0,
                        format: '{value:.,0f}'
                    },
                }],
    
                legend: {
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
    
                tooltip: {
                    shared: true,
                    // crosshairs: true,
                    // split: true,
                    // distance: 30,
                    padding: 3,
                    // stickOnContact: true
    
                },
    
                plotOptions: {
    
                    column: {
                        pointPadding: 0.20,
                        borderWidth: 0,
                    //     // width: 2
                     },
                    series: {
                        // maxPointWidth: 50,
                        // cursor: 'pointer',
                        // className: 'popup-on-click',
                        lineWidth: 5,
                        marker: {
                            lineWidth: 0
                        }
                    }
                },
    
                series: [
    
                    {
                        name: name + ' min',
                        lineWidth: '4px',
                        marker: { radius: 2 },
                        data: data[0],
                        color: 'currentColor'
                    }, {
                        name: name + ' max',
                        lineWidth: '4px',
                        marker: { radius: 2 },
                        data: data[1],
                          color: colorOne
                    }
                ]
            });
    
        
        }
    
                
    
    // Boite Modal Info     
    
        $(document).on ("click", "#info-modal#aqiid#", function () {
           
            $('#md_modal2').dialog({
            title: "Info AQI"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoAqi&id=#id#&logical_id=#aqiid#').dialog('open');
            });
        
        $(document).on ("click", "#info-modal#uvid#", function () {
           
            $('#md_modal2').dialog({
            title: "Info UV"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoUv&id=#id#&logical_id=#uvid#').dialog('open');
            });
    
        $(document).on ("click", "#info-modal#visibilityid#", function () {
           
            $('#md_modal2').dialog({
            title: "Info Visibilité"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoVisibility&id=#id#&logical_id=#visibilityid#').dialog('open');
            });
        
    
        $(document).on ("click", ".info-modal#pm10id#", function () {
        
            $('#md_modal2').dialog({
            title: "Info Particules Fines"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoPm25&id=#pm10id#').dialog('open');
                    });
    
    
        $(document).on ("click", ".info-modal#o3id#", function () {
            $('#md_modal2').dialog({
            title: "Info Ozone"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoO3&id=#o3id#').dialog('open');
            });
    
        // $(document).on ("click", "#info-modal#nh3id#", function () {
        //     $('#md_modal2').dialog({
        //     title: "Info Ammoniac"
        //     });
        //     $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoNh3&id=#nh3id#').dialog('open');
        //     });
        // $(document).on ("click", "#info-modal#so2id#", function () {
        //     $('#md_modal2').dialog({
        //     title: "Info Dioxyde de Souffre"
        //     });
        //     $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoSo2&id=#so2id#').dialog('open');
        //     });
        // $(document).on ("click", "#info-modal#no2id#", function () {
        //     $('#md_modal2').dialog({
        //     title: "Info Dioxyde d'Azote"
        //     });
        //     $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoNo2&id=#no2id#').dialog('open');
        //     });
        // $(document).on ("click", "#info-modal#noid#", function () {
        //     $('#md_modal2').dialog({
        //     title: "Info Monoxyde d'Azote"
        //     });
        //     $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoNo&id=#noid#').dialog('open');
        //     });
    
                  /*   var mySlider#id# = $('#airquality-min#uid#').carousel()
    
                 $('#airquality-min#uid#').hover(function () {
                        console.log('pause')
                        mySlider#id#.carousel('pause');
                   }, function () {
                        mySlider#id#.carousel({
                             'pause': false
                        });
                        console.log('restart')
                   });*/
    $(document).ready(function () {
    
        
                   if ('#animation#'== 'active') {
                        var t#uid#;
    
                        var start#uid# = $('#airquality-min#uid#').find('.active').attr('data-interval');
                        t#uid# = setTimeout("$('#airquality-min#uid#').carousel({interval: 1000});",
                             start#uid# - 1000);
    
                        $('#airquality-min#uid#').on('slid.bs.carousel', function () {
                             clearTimeout(t#uid#);
                             var duration#uid# = $(this).find('.active').attr('data-interval');
    
                             $('#airquality-min#uid#').carousel('pause');
                             t#uid# = setTimeout("$('#airquality-min#uid#').carousel();",
                                  duration#uid# - 1000);
                        })
                        $('.right.carousel-control.my#id#').on('click', function () {
                             clearTimeout(t#uid#);
                        });
                        $('.left.carousel-control.my#id#').on('click', function () {
                             clearTimeout(t#uid#);
                        });
                   }
    
    
                   $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function () {
                        jeedom.cmd.execute({ id: $(this).data('cmd_id') });
                        });
    });
    </script>
    </div>
