<div class="eqLogic eqLogic-widget allowResize allowReorderCmd col2" style="border:#border#;border-radius:#border-radius#;
background-color: #background-color#; color: #color#; width: #width#; height:auto; #style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#" data-tags="#tags#">
<span class="statusCmd"></span>
<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#"><i class="fas fa-sync"></i></span>
<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
<center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#
<span style="font-size: 0.85em;position: relative;top:-2px;" hidden>#object_name#</span></a></strong></center>
<!-- Mobile -->
<style>
        .aqi-#id#-row {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
        }
    
        .aqi-#id#-particule {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content:center;
        }

        .aqi-#id#-image{
            max-width: 100%;
            height: auto;
        }
    
        .aqi-#id#-space {
            margin-top: 10px;
        }
    
        .aqi-#id#-aqi {
            margin-top: 5px;
        }
    
        .aqi-#id#-value,
        .aqi-#id#-label,
        .contain-minmax-#id#{
            margin-top: 5px;
        }
    
        .aqi-#id#-label {
            font-weight:600;
            font-size: 180%;
            text-align: center;
        }
    
        .header-#id#-container {
            margin-top: 15px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            vertical-align: middle;
        }
    
        .header-#id#-min {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        svg > .highcharts-background {
                fill: rgba(0,0,0,0) !important;
                fill-opacity: 0;
            }
        
        .slider-#id#-aqi {
            width: auto;
            height: auto;
            margin-top: 25px ;
            overflow: hidden;
            background-color:transparent;
        }

        .slides-#id#-aqi {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            scroll-snap-points-x: repeat(100%);
            scroll-snap-type: mandatory;
            width: auto;
            height: 100%;

        }

        .slides-#id#-aqi::-webkit-scrollbar {
            width: 10px;
            height: 8px;
        }
        
            .slides-#id#-aqi::-webkit-scrollbar-track {
            background: transparent;
        }

        .slides-#id#-aqi>div {
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            background: rgba(238, 238, 238, 0);
            transform-origin: center center;
            transform: scale(1);
            transition: transform 0.8s;
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

        }

        .slides-#id#-aqi>div:target {
            transform: scale(0.8);
        }

        .hidden{
        display: none;
    }
    
    </style>
    
        <div class="header-#id#-container">
          
            <div class="#history# tooltips header-#id#-min" data-type="info" data-subtype="other" data-cmd_id="#uvid#">
                <div title="Cliquez pour + d'info" id="info-modal#uvid#" class="cursor aqi-#id#-image tooltips">#icone_uv#</div>
                <div class="cmd noRefresh aqi-#id#-label-aqi">#uv_name#</div>
                <div class="cmd noRefresh aqi-#id#-aqi">#uv#</div>
            </div>
      
            <div class="#history# tooltips header-#id#-min" data-type="info" data-subtype="other" data-cmd_id="#aqiid#">    
            
                <div title="Cliquez pour + d'info" id="info-modal#aqiid#" class="aqi-#id#-image tooltips cursor">#icone_aqi#</div>
            
                <div  class="cmd noRefresh  aqi-#id#-aqi">#aqi_name# #aqi#</div>
                <div style="font-size: 1.1rem;" class="cmd noRefresh aqi-#id#-space">#aqiinfo#</div>
            </div>
    
            <div class="#history# tooltips header-#id#-min" data-type="info" data-subtype="other" data-cmd_id="#visibilityid#">
                <div  title="Cliquez pour + d'info" id="info-modal#visibilityid#" class="cursor aqi-#id#-image tooltips">#icone_visibility#</div>
                <div class="cmd noRefresh">#visibility_name#</div>
                <div title="#visibility#  m" class="cmd noRefresh aqi-#id#-aqi">#visibility#</div>
            </div>    
        </div>

        <div class="slider-#id#-aqi ">
            <div class="slides-#id#-aqi">
                #mini_slide#
            </div>
        </div>
    
    
    <script>
    
    var labels = #labels#;
    
    function parseData(minArray, maxArray) {
            let data = [];
            data.push(minArray);
            data.push(maxArray);
            return data;
        }
    
       
        $(document).ready(function () {
    
    
        var dataCo = parseData(#co_min#, #co_max#);
        GiveaChart_#id#('container_co_#id#', dataCo, 'CO', '#color_co#');
    
        var dataNo =  parseData(#no_min#, #no_max#);
        GiveaChart_#id#('container_no_#id#', dataNo, 'NO','#color_no#');
    
        var dataPm25 =  parseData( #pm25_min# , #pm25_max#);
        GiveaChart_#id#('container_pm25_#id#', dataPm25, 'PM2.5','#color_pm25#');
    
        var dataPm10 =  parseData(#pm10_min#, #pm10_max#);
        GiveaChart_#id#('container_pm10_#id#', dataPm10, 'PM10','#color_pm10#');
    
        var dataO3 =  parseData(#o3_min#, #o3_max#);
        GiveaChart_#id#('container_o3_#id#', dataO3, 'O³','#color_o3#');
    
        var dataNo2 =  parseData(#no2_min#, #no2_max#);
        GiveaChart_#id#('container_no2_#id#', dataNo2, 'NO²','#color_no2#');
       
        var dataSo2 =  parseData(#so2_min#, #so2_max#);
        GiveaChart_#id#('container_so2_#id#', dataSo2, 'SO²','#color_so2#');
       
        var dataNh3 =  parseData(#nh3_min#, #nh3_max#);
        GiveaChart_#id#('container_nh3_#id#', dataNh3, 'NH³','#color_nh3#');
       
        var dataAqi =  parseData(#aqi_min#, #aqi_max#);
        GiveaChart_#id#('container_aqi_#id#', dataAqi, 'AQI','#color_aqi#');
    
    
        })
      
    
        function GiveaChart_#id#(container, data, name, colorOne = '#00AEEC') {
    
            Highcharts.chart(container, {
    
                chart: {
                    type: 'column',
                    height: 170,
                    width: 300,
                    alignTicks: true,
                      borderWidth:0
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: null
                },
                xAxis: {
                    labels: {
                        rotation: -40,
                        overflow: 'justify',
                        style: { fontSize: '10px' },
                        x: 14,
                        y: 15
                    },
                    min: 0,
                    categories: labels,
                    tickWidth: 1,
                    gridLineWidth: 0
                },
                yAxis: [{
                    visible: false,
                    title: {
                        text: null
                    },
                    labels: {
                        align: 'center',
                        x: 0,
                        y: 0,
                        format: '{value:.,0f}'
                    },
                }],
                legend: {
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                tooltip: {
                    shared: true,
                    padding: 3,
                },
    
                plotOptions: {
    
                    column: {
                        pointPadding: 0.20,
                        borderWidth: 0
                     },
                    series: {
                        maxPointWidth: 50,
                        cursor: 'pointer',
                        lineWidth: 5,
                        marker: {
                            lineWidth: 0
                        },
                        borderRadius: 2
                    }
                },
                series: [
                    {
                        name: name + ' min',
                        lineWidth: '4px',
                        marker: { radius: 2 },
                        data: data[0],
                        color: 'currentColor'
                    }, {
                        name: name + ' max',
                        lineWidth: '4px',
                        marker: { radius: 2 },
                        data: data[1],
                          color: colorOne
                    }
                ]
            });
    
        
        }
    
                
    
    // Boite Modal Info     
    
        $(document).on ("click", "#info-modal#aqiid#", function () {
           
            $('#md_modal2').dialog({
            title: "Info AQI"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoAqi&id=#id#&logical_id=#aqiid#').dialog('open');
            });
        
        $(document).on ("click", "#info-modal#uvid#", function () {
           
            $('#md_modal2').dialog({
            title: "Info UV"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoUv&id=#id#&logical_id=#uvid#').dialog('open');
            });
    
        $(document).on ("click", "#info-modal#visibilityid#", function () {
           
            $('#md_modal2').dialog({
            title: "Info Visibilité"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoVisibility&id=#id#&logical_id=#visibilityid#').dialog('open');
            });
        
    
        $(document).on ("click", ".info-modal#pm10id#", function () {
        
            $('#md_modal2').dialog({
            title: "Info Particules Fines"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoPm25&id=#pm10id#').dialog('open');
                    });
    
    
        $(document).on ("click", ".info-modal#o3id#", function () {
            $('#md_modal2').dialog({
            title: "Info Ozone"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoO3&id=#o3id#').dialog('open');
            });
    
        $(document).on ("click", "#info-modal#nh3id#", function () {
            $('#md_modal2').dialog({
            title: "Info Ammoniac"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoNh3&id=#nh3id#').dialog('open');
            });
        $(document).on ("click", "#info-modal#so2id#", function () {
            $('#md_modal2').dialog({
            title: "Info Dioxyde de Souffre"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoSo2&id=#so2id#').dialog('open');
            });
        $(document).on ("click", "#info-modal#no2id#", function () {
            $('#md_modal2').dialog({
            title: "Info Dioxyde d'Azote"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoNo2&id=#no2id#').dialog('open');
            });
        $(document).on ("click", "#info-modal#noid#", function () {
            $('#md_modal2').dialog({
            title: "Info Monoxyde d'Azote"
            });
            $('#md_modal2').load('index.php?v=d&plugin=airquality&modal=InfoNo&id=#noid#').dialog('open');
            });
    
         
        
            $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function () {
                        jeedom.cmd.execute({ id: $(this).data('cmd_id') });
                        });
 
</script>
</div>
