<div class="col-lg-12 col-sm-12 col-xs-12 aqi-#id#-particule" title="todo">
    <!-- Version Mobile -->
    <div class="aqi-#id#-row">
       <div style="width:100%;text-align:center;">
           <strong class="aqi-#id#-label">#display-name#</strong>
           <div class="aqi-#id#-space">#level-particule#</div>
       </div> 
        <!-- <sub class="mini-#id#-label">2.5</sub> -->
        <div style="width:100%;" class="aqi-#id#-image">#icone#</div>   
        <!-- Valeur --> <!-- Historique -->
        <div class="aqi-#id#-particule cmd noRefresh" style="width:100%;font-size: 0.9rem;"  data-type="info" data-subtype="numeric" data-cmd_id="#cmdid#">
            <div title="#value# #unity#" style="text-align:center;font-size: 0.85em;" class="aqi-#id#-value #history# tooltips">#value#</div>
            <div class="contain-minmax-#id# #history# tooltips #display#" style="text-align: center;font-size: 0.70rem;width:100%;" data-cmd_id="#cmdid#"
                data-eqlogic_id="#id#" data-type="info" data-subtype="numeric">
                <div>
                    <span title="Min" class="tooltips">#minHistoryValue#</span> |
                    <span title="Moyenne" class="tooltips">#averageHistoryValue#</span> |
                    <span title="Max" class="tooltips">#maxHistoryValue#</span>&nbsp;
                    <i class="tendance#id# #tendance# fa-xs" style="font-size: 0.70rem;"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Graphique bas  -->
    <div id="container_#name#_#id#">
    </div>
</div>

<script>

    Highcharts.chart(container_#name#_#id#, {
        chart: {
            type: 'column',
            height: 160,
            width: 320,
            alignTicks: true,
              borderWidth:0
        },
        exporting: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        title: {
            text: null
        },
        xAxis: {
            labels: {
                rotation: -40,
                overflow: 'justify',
                style: { fontSize: '10px' },
                x: 14,
                y: 15
            },
            min: 0,
            categories: #labels#,
            tickWidth: 1,
            gridLineWidth: 0
        },
        yAxis: [{
            visible: false,
            title: {
                text: null
            },
            labels: {
                align: 'center',
                x: 0,
                y: 0,
                format: '{value:.,0f}'
            },
        }],
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            borderWidth: 0,
            padding: 2,
            margin: 0
        },
        tooltip: {
            shared: true,
            padding: 3,
       },
        plotOptions: {

            column: {
                pointPadding: 0.15,
                borderWidth: 0
             },
            series: {
                lineWidth: 5,
                marker: {
                    lineWidth: 0
                },
                borderRadius: 2
            }
        },
        series: [
            {
                name: '#display-name#' + ' min',
                lineWidth: '4px',
                marker: { radius: 2 },
                data: #min#,
                color: 'currentColor'
            }, {
                name: '#display-name#' + ' max',
                lineWidth: '4px',
                marker: { radius: 2 },
                data: #max#,
                color: '#color#'
            }
        ]
    });
</script>